{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center"><div class="col-lg-7">
<h3>Kontoauszug importieren</h3>
<div class="card shadow-sm"><div class="card-body">
  <p>CSV-Export aus dem Online-Banking (Semikolon-getrennt, Kopfzeile mit z. B. <em>Buchungstag</em>, <em>Betrag</em>, <em>Name</em>, <em>IBAN</em>, <em>Verwendungszweck</em>). Doppelte Umsätze werden erkannt und übersprungen. Anschließend wird automatisch versucht, Zahlungen offenen Rechnungen zuzuordnen (Rechnungsnummer, Mitgliedsnummer oder IBAN).</p>
  <form method="post" enctype="multipart/form-data">{% csrf_token %}
    <input type="file" name="datei" accept=".csv,.txt" class="form-control mb-3" required>
    <button class="btn btn-primary">Importieren</button> <a class="btn btn-outline-secondary" href="{% url 'bankumsatz_list' %}">Abbrechen</a>
  </form>
</div></div></div></div>
{% endblock %}
